.emotions {
    display: grid;
    margin: 4em;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    text-align: center;
}

.editEmotions {
  display: grid;
  margin: 4em;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  text-align: center;

}

.emotion {
  padding: 1em;
}
.editEmotion {
  padding: 0em;
}


.emotionImage{
  width: 95%;
}
.emotion__image{
  display: grid;
  grid-template-columns: repeat(2, auto);
}


.emotion__imageView{
  width: 170px;
}

.feelingHeart_imgText{
  width: 70%;
 
}

.modal-body {
  text-align-last: center
}

.ImgContainer {
  text-align: center;
}