.emotions {
    /* flex-basis: 65%;
    flex-direction: row; */
    display: grid;
    /* flex-wrap: wrap; */
    /* padding: 5%; */
    margin: 4em;
    grid-template-columns: repeat(4, auto);
}

.emotion {
  border: 1px solid black;
  flex-basis: 20%;
  padding: 1em;
  /* width: 25%; */
  /* min-width: 200px; */
}