.MakeFHChartPreview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    width: 500px;
    padding: 6%;
    align-items: center;
  }

.feelingHeart_img {
  width: 55%;
  height: 55%;
  
  }