.savedChartsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    width: 500px;
    padding: 8%

}
.savedChartCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}
.savedChartCard__savedChartPreview {
    width: 40%;
    height: 40%;
    }

.savedChartPreview {
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 40%;
    height: 40%;

}

.savedChartPreviewImages__image {
    width: 50px;
   
}
